<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 로컬 알림 스케줄링 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- 생체 인증 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="Baduk Pass!"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:replace="android:allowBackup"
        xmlns:tools="http://schemas.android.com/tools">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Deep Link: badukpass:// custom scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="badukpass"/>
            </intent-filter>

            <!-- App Links: https://swissbaduk.org (서버 assetlinks.json 설정 후 활성화) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="swissbaduk.org"/>
            </intent-filter>
        </activity>

        <!-- 카카오 로그인 Redirect Activity -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 카카오 Native App Key를 kakao{NATIVE_APP_KEY} 형식으로 등록 -->
                <data android:scheme="kakaoe50cfb50ae0d4424f60fc863d0e0b7e4" android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- 네이버 지도 API 키 -->
        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="dg6cq3krn3"/>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- 카카오톡 설치 여부 확인용 -->
        <package android:name="com.kakao.talk" />
        <!-- 네이버맵 앱 설치 여부 확인용 -->
        <package android:name="com.nhn.android.nmap" />
    </queries>
</manifest>
